@{
     Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">داشبورد</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
          @*  <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="/admin/Category">گروه ها و زیر گروه ها</a>
                            </li>
                            <li>
                                <a href="/admin/Contacts">تماس با ما</a>
                            </li>
                            <li>
                                <a href="/admin/Blogs">صفحه بلاگ</a>
                            </li>
                            <li>
                                <a href="/admin/ContactText">تماس با ما مطالب</a>
                            </li>
                            <li>
                                <a href="/admin/Licesis">مجوز ها</a>
                            </li>
                            <li>
                                <a href="/admin/Logos">لوگو</a>
                            </li>
                            <li>
                                <a href="/admin/MessageTicket">متن تیکت ها</a>
                            </li>
                            <li>
                                <a href="/admin/OrderDetails">جزئیات سفارش</a>
                            </li>
                            <li>
                                <a href="/admin/Orders"> سفارش</a>
                            </li>
                            <li>
                                <a href="/admin/Products"> محصولات</a>
                            </li>
                            <li>
                                <a href="/admin/TBasket"> عنوان های سبد خرید در صفحه اصلی</a>
                            </li>
                            <li>
                                <a href="/admin/Properties">ویژگی اول سایت</a>
                            </li>
                            <li>
                                <a href="/admin/Sellers">فروشنده</a>
                            </li>
                            <li>
                                <a href="/admin/contactsetting">تماس با ما در قسمت فوتر و صفه تماس با ما</a>
                            </li>
                            <li>
                                <a href="/admin/SiteBanners">بنرها</a>
                            </li>
                            <li>
                                <a href="/admin/Sliders">اسلایدر</a>
                            </li>
                            <li>
                                <a href="/admin/Socials">شبکه اجتماعی</a>
                            </li>
                            <li>
                                <a href="/admin/Tickets">تیکت ها</a>
                            </li>
                            <li>
                                <a href="/admin/Users">کاربران</a>
                            </li>
                            <li>
                                <a href="/admin/WalletSellers">کیف پول</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>*@
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="/admin/Category">گروه ها و زیر گروه ها</a>
                    </li>
                  
                            <li>
                                <a asp-area="Admins" asp-controller="Seller" asp-action="ListPaymentSeller">
                                    <span class="menu-text">لیست تسویه حساب ها</span>
                                </a>
                            </li>
                     
                    <li>
                        <a href="/admin/Contacts">تماس با ما</a>
                    </li>
                    <li>
                        <a href="/admin/Blogs">صفحه بلاگ</a>
                    </li>
                    <li>
                        <a href="/admin/ContactText">تماس با ما مطالب</a>
                    </li>

                    <li>
                        <a href="/admin/Products"> محصولات</a>
                    </li>
                    <li>
                        <a href="/admin/Licesis">مجوز ها</a>
                    </li>
                    <li>
                        <a href="/admin/Logos">لوگو</a>
                    </li>

                    <li>
                        <a href="/admin/TBasket"> عنوان های سبد خرید در صفحه اصلی</a>
                    </li>
                    <li>
                        <a href="/admin/MessageTicket">متن تیکت ها</a>
                    </li>
                    <li>
                        <a href="/admin/OrderDetails">جزئیات سفارش</a>
                    </li>
                    <li>
                        <a href="/admin/Orders"> سفارش</a>
                    </li>
                    <li>
                        <a href="/admin/Properties">ویژگی اول سایت</a>
                    </li>
                    <li>
                        <a href="/admin/Sellers">فروشنده</a>
                    </li>
                    <li>
                        <a href="/admin/SiteBanners">بنرها</a>
                    </li>
                    <li>
                        <a href="/admin/Sliders">اسلایدر</a>
                    </li>
                    <li>
                        <a href="/admin/Socials">شبکه اجتماعی</a>
                    </li>
                    <li>
                        <a href="/admin/Tickets">تیکت ها</a>
                    </li>

                    <li>
                        <a href="/admin/contactsetting">تماس با ما در قسمت فوتر و صفه تماس با ما</a>
                    </li>
                    <li>
                        <a href="/admin/Users">کاربران</a>
                    </li>
                    <li>
                        <a href="/admin/WalletSellers">کیف پول</a>
                    </li>
                </ul>
            </div>

            <!-- /.panel-body -->
        </div>

        <!-- /.panel-footer -->
    </div>
    <!-- /.panel .chat-panel -->
</div>
<!-- /.col-lg-4 -->
