<!-- Nav tabs -->

<div class="dashboard_tab_button">
    <ul role="tablist" class="nav flex-column dashboard-list">
        <li><a asp-area="User" asp-controller="Home" asp-action="Index" class="nav-link active show">داشبورد</a></li>
        <li><a href="/Admin" class="nav-link">پنل آدمین</a></li>
        <li><a asp-controller="Account" asp-action="LogOut" class="nav-link">خروج</a></li>
    </ul>
</div>


