@using MarketPlace.Application.EntitiesExtensions
@model List<MarketPlace.DataLayer.Entities.Mazholar.License>

@if (Model != null && Model.Any())
{
    @foreach (var slider in Model)
    {
        <div class="col-lg-6 col-md-6">
            <div class="footer_payment text-right">
                <a href="@slider.Href"><img src="/Liceses/@slider.ImageName"></a>
            </div>
        </div>
    }
}