@page
@model MarketPlace.Pages.Admin.Category.CreateModel

@{
    ViewData["Title"] = "ساختن";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    @await Component.InvokeAsync("SideBarAdmin")
                </div>

                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">

                        <h2>ساختن</h2>

                        <h4>گروه ها و زیر گروه ها</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    @*   <div class="form-group">
                                        <label asp-for="ProductCategory.ParentId" class="control-label"></label>
                                        <select asp-for="ProductCategory.ParentId" class ="form-control" asp-items="ViewBag.ParentId"></select>
                                        </div>*@
                                    <div class="form-group">
                                        <label asp-for="ProductCategory.Title" class="control-label">عنوان</label>
                                        <input asp-for="ProductCategory.Title" class="form-control" />
                                        <span asp-validation-for="ProductCategory.Title" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ProductCategory.UrlName" class="control-label">لینک عنوان</label>
                                        <input asp-for="ProductCategory.UrlName" class="form-control" />
                                        <span asp-validation-for="ProductCategory.UrlName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="ProductCategory.IsActive" /> @Html.DisplayNameFor(model => model.ProductCategory.IsActive)
                                            </label>
                                        </div>
                                    </div>
                                    @*  <div class="form-group">
                                        <div class="checkbox">
                                        <label>
                                        <input asp-for="ProductCategory.IsDelete" /> @Html.DisplayNameFor(model => model.ProductCategory.IsDelete)
                                        </label>
                                        </div>
                                        </div>*@
                                    <div class="form-group">
                                        <label asp-for="ProductCategory.CreateDate" class="control-label">زمان ایجاد</label>
                                        <input asp-for="ProductCategory.CreateDate" class="form-control" />
                                        <span asp-validation-for="ProductCategory.CreateDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ProductCategory.LastUpdateDate" class="control-label">زمان آپدیت</label>
                                        <input asp-for="ProductCategory.LastUpdateDate" class="form-control" />
                                        <span asp-validation-for="ProductCategory.LastUpdateDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div>
                            <a asp-page="Index">برگشت به صفحه اصلی</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
