@using MarketPlace.DataLayer.Entities.Abouts
@{
    ViewData["Title"] = "درباره ما";
    var Basket = ViewData["result"] as List<About>;
}


<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/home">خانه</a></li>
                        <li>درباره ما</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@foreach (var item in Basket)
{
    <section class="about_section mt-60">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <figure>
                        <div class="about_thumb">
                            <img src="/About/@item.ImageName" alt="">
                        </div>
                        <figcaption class="about_content">
                            <h1>همه چیز درباره ما</h1>
                            <p>
                                @Html.Raw(item.Text)
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
}