@using MarketPlace.Application.EntitiesExtensions
@model List<MarketPlace.DataLayer.Entities.Mazholar.Property>

@if (Model != null && Model.Any())
{
    @foreach (var slider in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="single_shipping">
                <div class="shipping_icone">
                    <img src="/Property/@slider.ImageName" alt="@slider.Title">
                </div>
                <div class="shipping_content">
                    <h2>@slider.Title</h2>
                    <p>@slider.Text</p>
                </div>
            </div>
        </div>
    }
}